doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title capture image using web-cam js
#my_camera(style='float: right;')
script(type='text/javascript' src='./webcam.min.js')
script(type='text/javascript' src='./face-api.min.js')
script(src='script.js')

